body {
  background:
  radial-gradient(circle, transparent 20%, #202733 20%, #202733 80%, transparent 80%, transparent),
  radial-gradient(circle, transparent 20%, #202733 20%, #202733 80%, transparent 80%, transparent) 50px 50px,
  linear-gradient(#6DE8BB 8px, transparent 8px) 0 -4px,
  linear-gradient(90deg, #6DE8BB 8px, transparent 8px) -4px 0;
  background-color: #202733;
  background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
  
}


.header{
  overflow: hidden;
  background-color:#B2CED1;
  padding: 20px 10px;
  border-radius: 15px;
  font-family: 'Comfortaa', cursive;
  font-weight: bolder;
  font-size:x-large;
  color: #99010F;  
}

  /* Style the header links */  
.header a {
  float: left;
  color: #99010F;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
}
    
/* Change the background color on mouse-over */
.header-right a:hover {
    background-color: #47a560;
    color: black;
    font-weight: 1500;
}    
  
  /* Float the link section to the right */
  .header-right {
    float: right;
    font-weight: bolder;
    font-size:large;
    
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      text-align: left;
    }
    .header-right {
      float: none;
      display: block;
    }
  }
  
  .main  {
    overflow: hidden;
    background-color:#0a856a;
    text-align: center;
    padding: 20px 10px 10px ;
    border-radius: 25px;
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
    font-size:large;
    color: #462226;  
    margin-top: 20px;

  }
